.destinos {
    text-align: center;
    background: linear-gradient(180deg, #00BEAC 43.53%, rgba(0, 190, 172, 0) 100%);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.destinos__imagem {
    background-color: #00BEAC;
    width: 100%;
    margin-top: -.3rem;
    /* margin-bottom: -.3rem; */
    height: 2vh;
}

.destinos__titulo {
    font-size: 6rem;
    font-weight: normal;
    line-height: 82.8%;
    margin-left: 1rem;
}

.destinos__subtitulo {
    margin-top: -2rem;
    font-size: 3rem;
    font-weight: 900;
    line-height: 3.8rem;
}

.destinos__descricao {
    padding: .3rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    color: #FFFFFF;
    font-size: .8rem;
}

.mais {
    background: #E5E5E5;
}

.mais__titulo {
    color: #0CA296;
    margin-bottom: .8rem;
}

.mais__subtitulo {
    color: #000000
}

.mais__descricao {
    color: #000000;
}

@media screen and (min-width: 924px) {
    .destinos__imagem {
        height: 4.5vh;
    }

    .destinos__titulo {
        font-size: 12.5rem;
    }

    .destinos__subtitulo {

        font-size: 5rem;
        line-height: 3.313rem;
    }

    .destinos__descricao {
        padding: 0;
        margin-left: 20.688rem;
        margin-right: 20.688rem;
        font-size: 1.625rem;
        line-height: 1.5;
    }

    .destinos__circulo {
        margin-top: 1.5rem;
        margin-bottom: 1.3rem;
    }
}