.hero__imagem {
    width: 100%;
    height: calc(50vh - 5rem);
    background: linear-gradient(356.3deg, rgba(0, 0, 0, 0.6) 3.4%, rgba(0, 0, 0, 0) 92.42%);
}

.hero__titulo {
    position: absolute;
    transform: translate(-19%, -50%);
    left: 15%;
    top: 25%;
}

.hero__subtitulo {
    position: absolute;
    transform: translate(-19%, -50%);
    left: 14%;
    top: 30.5%;
}

.titulo {
    color: #FFC700;
    font-family: Smith-Allison, cursive;
    font-size: 6rem;
    font-weight: normal;
}

.subtitulo {
    color: #FFFFFF;
    font-family: Circular-Std, cursive;
    font-size: 5rem;
    font-weight: 900;
}

.hero__imagem--seta {
    position: absolute;
    width: 1.491rem;
    height: 2.5rem;
    left: 65%;
    top: 29%;
}

.hero__descricao {
    position: absolute;
    left: 74%;
    top: 29.9%;
    font-style: normal;
    font-weight: 500;
    font-size: .8rem;
    line-height: 1rem;
    /* letter-spacing: 0.195em; */
    color: #FFFFFF;
    text-transform: uppercase;
}

@media screen and (min-width: 924px) {
    .hero__imagem {
        width: 100%;
        height: 100vh;
    }

    .hero__titulo {
        left: 21.3%;
        top: 41%;
    }

    .hero__subtitulo {
        left: 20.8%;
        top: 65.5%;
    }

    .titulo {
        font-size: 21.319rem;
    }

    .subtitulo {
        font-size: 18.75rem;
    }

    .hero__descricao {
        left: 83%;
        top: 68%;
        font-size: 25px;
        line-height: 2rem;
        letter-spacing: 0.195em;
        width: 10.625rem;
        height: 2.875rem;
    }

    .hero__imagem--seta {
        width: 3.491rem;
        height: 5.5rem;
        left: 79%;
        top: 66%;
    }
}